{% extends 'base.html' %}
{% block title %}
    About us
{% endblock %}
{% block content %}
    <div class="title_div"><h1>About us</h1></div>
    <div class="container">
        <div id="about_us">
            {% load static %}
            <img alt="logo" src="{% static 'img/car-rental-logo-template-design_316488-1614.jpg' %}"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at ullamcorper leo, id posuere nibh. Etiam
                elementum, massa feugiat bibendum mattis, orci diam tempus purus, ac convallis erat massa et nisi.
                Nullam
                pharetra mattis massa, ac euismod justo aliquam sed. Nulla mi turpis, accumsan vitae magna at, feugiat
                semper enim. Quisque id mollis elit, ac lacinia eros. Sed consequat nisl eu diam dictum pretium. Nam
                tempus
                semper urna ut congue. Nunc pulvinar vitae risus eget tempor. Proin lobortis nulla eget sem tempor
                fermentum. Nam commodo aliquet nisi quis lacinia. Sed faucibus sapien odio, non rutrum leo laoreet ac.
                Fusce
                interdum tempus vulputate. Aliquam non scelerisque eros, at ultricies erat. Nulla dapibus congue sem vel
                consequat.</p>

            <p>Fusce malesuada rhoncus augue et elementum. Praesent maximus nunc at lectus porta, quis pretium dui
                tincidunt. Phasellus mattis rutrum lacinia. Morbi iaculis sodales auctor. Pellentesque eu arcu
                elementum,
                egestas risus at, egestas ligula. Fusce vehicula nibh lectus, et vestibulum lacus semper vitae. Aenean
                egestas dictum ligula eu posuere. Integer odio tellus, porttitor ac tellus sit amet, blandit vulputate
                ante.
                Nullam sit amet aliquam mi. Pellentesque eu dui arcu. Donec ultricies tellus sed purus dictum, vel
                pharetra
                nunc luctus.</p>

            <p>Sed hendrerit purus turpis, id blandit nisl vestibulum ut. Pellentesque in tincidunt arcu. Pellentesque
                imperdiet velit vel diam imperdiet, sed porttitor dolor fringilla. Aliquam id fermentum velit. In ut dui
                vel
                enim finibus fringilla. Nullam imperdiet placerat nisl, et lacinia libero vehicula eget. Quisque a eros
                id
                nisi commodo imperdiet ut sed nulla. In tincidunt fringilla nisl, at tincidunt mauris mattis in. Morbi
                fermentum mi et augue feugiat convallis. Phasellus a tempus erat, non vulputate arcu. Aenean molestie
                quam
                vel gravida dictum. Donec consectetur erat sit amet nisl pharetra, vitae aliquet erat lobortis. Nulla
                lacus
                lectus, ullamcorper non elementum et, viverra consectetur nulla. Proin eu dictum sem. Sed dignissim ac
                risus
                et consequat.</p>
        </div>
    </div>
{% endblock %}