{% extends 'base.html' %}
{% block title %} Login{% endblock %}
{% block content %}
    <div class="container">
        <div class="form">
            <form method="POST" action="">
                {% csrf_token %}
                <h2>Login</h2>
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="login" id="login">
                <p>No account? <a href="{% url 'register' %}">Create an account</a></p>
                <p>Forgot your password? <a href="{% url 'password_reset' %}">Reset password</a></p>
            </form>
        </div>
    </div>
{% endblock %}
