{% extends 'base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
    {% if form.errors %}
        {% for key, value in form.errors.items %}
            <div class="message" id="error">
                <p>{{ key }}</p>
                <p>{{ value }}</p>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="form">
            <form method="POST" action="">
                {% csrf_token %}
                <h2>Change password</h2>
                {{ form.old_password }}
                {{ form.new_password1 }}
                {{ form.new_password2 }}
                <input type="submit" name="change_password" id="login" value="Change password">
            </form>
        </div>
    </div>
{% endblock %}