{% extends "base.html" %}
{% block title %}
    Reset password
{% endblock %}
{% block content %}
    <div class="container">
        <div class="form">
            <form method="POST" action="">
                {% csrf_token %}
                <h2>Reset password</h2>
                <p>New password</p>
                {{ form.new_password1 }}
                <p>Repeat new password</p>
                {{ form.new_password2 }}
                <input type="submit" name="reset_password" id="login" value="Reset password">
            </form>
        </div>
    </div>
{% endblock %}